@page "/SaveConfig_1"
@using Models.Config
@using Panel16.Pages.Components
@using Panel16.Shared
@layout SaveConfigLayout
@inject IConfigApi _configApi
<EditForm Model="@ConfigDetails">

    <div class="container-fluid">
        <h1 class="page-title d-flex justify-content-between align-items-center">
            <span>
                Pumps
            </span>
            <span class="d-inline-flex justify-content-end">
                <MudFab Label="@localizer[LocalizationKeys.SaveAndContinue]" @onclick="SaveAndContinue" DisableElevation="true" />
            </span>
        </h1>
        <div class="row">
            <div class="col-md-8 page__content">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <label class=""> Mud pump 1</label>
                    </div>
                    <div class="col-md-3">
                        <label class="">Mud pump 2</label>
                    </div>
                    <div class="col-md-3">
                        <label class=""> Cement pump</label>
                    </div>
                </div>


                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Liner Diameter
                    </div>
                    <div class="col-md-2">
                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump1.PumpLinerDiameter"
                                         unitCat="@Enums.UnitCategory.Diameter"  units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump2.PumpLinerDiameter"
                                         unitCat="@Enums.UnitCategory.Diameter" units="@ConfigDetails.Units" class="form-control" />
                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.CementPump.PumpLinerDiameter"
                                         unitCat="@Enums.UnitCategory.Diameter" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                      Volumetric Efficiency
                    </div>
                    <div class="col-md-2">
                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump1.VolumetricEfficiency"
                                         unitCat="@Enums.UnitCategory.Percentage" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump2.VolumetricEfficiency"
                                         unitCat="@Enums.UnitCategory.Percentage" units="@ConfigDetails.Units" class="form-control" />
                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.CementPump.VolumetricEfficiency"
                                         unitCat="@Enums.UnitCategory.Percentage" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Output Bbl Stroke
                    </div>
                    <div class="col-md-2">
                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump1.PumpOutputBblStroke"
                                         unitCat="@Enums.UnitCategory.Stroke" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump2.PumpOutputBblStroke"
                                         unitCat="@Enums.UnitCategory.Stroke" units="@ConfigDetails.Units" class="form-control" />
                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.CementPump.PumpOutputBblStroke"
                                         unitCat="@Enums.UnitCategory.Stroke" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Volumetric Output
                    </div>
                    <div class="col-md-2">
                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump1.VolumetricOutput"
                                         unitCat="@Enums.UnitCategory.VulomicOutput" DecimalPlaces="3" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump2.VolumetricOutput"
                                         unitCat="@Enums.UnitCategory.VulomicOutput" DecimalPlaces="3" units="@ConfigDetails.Units" class="form-control" />
                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.CementPump.VolumetricOutput"
                                         unitCat="@Enums.UnitCategory.VulomicOutput" DecimalPlaces="3" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Maximum Stroke
                    </div>
                    <div class="col-md-2">

                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump1.MaximumStroke" unitCat="@Enums.UnitCategory.MaximumStroke" units="@ConfigDetails.Units" class="form-control" />
                    </div>
                    <div class="col-md-2 offset-md-1">
                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump2.MaximumStroke" unitCat="@Enums.UnitCategory.MaximumStroke" units="@ConfigDetails.Units" class="form-control" />


                    </div>
                    <div class="col-md-2 offset-md-1">
                        <DoubleUnitInput @bind-Value="ConfigDetails.CementPump.MaximumStroke" unitCat="@Enums.UnitCategory.MaximumStroke" units="@ConfigDetails.Units" class="form-control" />
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Maximum Pressure
                    </div>
                    <div class="col-md-2">
                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump1.Pressure" unitCat="@Enums.UnitCategory.Pressure" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump2.Pressure" unitCat="@Enums.UnitCategory.Pressure" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">
                        <DoubleUnitInput @bind-Value="ConfigDetails.CementPump.Pressure" unitCat="@Enums.UnitCategory.Pressure" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Relief Valve Pressure
                    </div>
                    <div class="col-md-2">
                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump1.ReliefValvePressure" unitCat="@Enums.UnitCategory.Pressure" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump2.ReliefValvePressure" unitCat="@Enums.UnitCategory.Pressure" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">
                        <DoubleUnitInput @bind-Value="ConfigDetails.CementPump.ReliefValvePressure" unitCat="@Enums.UnitCategory.Pressure" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Mechanical Efficiency
                    </div>
                    <div class="col-md-2">
                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump1.MechanicalEfficiency" unitCat="@Enums.UnitCategory.Percentage" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.MudPump2.MechanicalEfficiency" unitCat="@Enums.UnitCategory.Percentage" units="@ConfigDetails.Units" class="form-control" />



                    </div>
                    <div class="col-md-2 offset-md-1">

                        <DoubleUnitInput @bind-Value="ConfigDetails.CementPump.MechanicalEfficiency" unitCat="@Enums.UnitCategory.Percentage" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        @nameof(ConfigDetails.MudPump1.PumpRateChange)
                    </div>
                    <div class="col-md-2">
                        <LongUnitInput @bind-Value="ConfigDetails.MudPump1.PumpRateChange" unitCat="@Enums.UnitCategory.StrokeRate" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">
                        <LongUnitInput @bind-Value="ConfigDetails.MudPump2.PumpRateChange" unitCat="@Enums.UnitCategory.StrokeRate" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">
                        <LongUnitInput @bind-Value="ConfigDetails.CementPump.PumpRateChange" unitCat="@Enums.UnitCategory.StrokeRate" units="@ConfigDetails.Units" class="form-control" />
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Delay To Shutdown
                    </div>
                    <div class="col-md-2">

                        <LongUnitInput @bind-Value="ConfigDetails.MudPump1.DelayToShutdown"
                                       unitCat="@Enums.UnitCategory.Time" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <LongUnitInput @bind-Value="ConfigDetails.MudPump2.DelayToShutdown"
                                       unitCat="@Enums.UnitCategory.Time" units="@ConfigDetails.Units" class="form-control" />

                    </div>
                    <div class="col-md-2 offset-md-1">

                        <LongUnitInput @bind-Value="ConfigDetails.CementPump.DelayToShutdown"
                                       unitCat="@Enums.UnitCategory.Time" units="@ConfigDetails.Units" class="form-control" />
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Surface Line Lenght
                    </div>
                    <div class="col-md-2">
                        <LongUnitInput @bind-Value="ConfigDetails.MudPump1.SurfaceLineLenght" unitCat="@Enums.UnitCategory.Length" units="@ConfigDetails.Units" class="form-control" />


                    </div>
                    <div class="col-md-2 offset-md-1">
                        <LongUnitInput @bind-Value="ConfigDetails.MudPump1.SurfaceLineLenght" unitCat="@Enums.UnitCategory.Length" units="@ConfigDetails.Units" class="form-control" />


                    </div>
                    <div class="col-md-2 offset-md-1">
                        <LongUnitInput @bind-Value="ConfigDetails.CementPump.SurfaceLineLenght" unitCat="@Enums.UnitCategory.Length" units="@ConfigDetails.Units" class="form-control" />


                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-md-3">
                        Surface Line ID
                    </div>
                    <div class="col-md-2">
                        <LongUnitInput @bind-Value="ConfigDetails.MudPump1.SurfaceLineID" unitCat="@Enums.UnitCategory.Diameter" units="@ConfigDetails.Units" class="form-control" />


                    </div>
                    <div class="col-md-2 offset-md-1">
                        <LongUnitInput @bind-Value="ConfigDetails.MudPump2.SurfaceLineID" unitCat="@Enums.UnitCategory.Diameter" units="@ConfigDetails.Units" class="form-control" />


                    </div>
                    <div class="col-md-2 offset-md-1">
                        <LongUnitInput @bind-Value="ConfigDetails.CementPump.SurfaceLineID" unitCat="@Enums.UnitCategory.Diameter" units="@ConfigDetails.Units" class="form-control" />


                    </div>
                </div>
                <div class="form-group row my-3">
                    <button @onclick="SaveAndContinue" class="ml-2 btn btn-primary">@(localizer[LocalizationKeys.SaveAndContinue])</button>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/assets/img/pump.jpg" class="w-100" />
            </div>

        </div>

    </div>

</EditForm>
@code {
    public ConfigDetails ConfigDetails { set; get; } = new();
    public string ConfigId { set; get; }
    protected override async void OnInitialized()
    {
        Statics.PageTitle = "Pumps";

        ConfigId = UriExtenssions.GetQueryStringValue(NavigationManager.Uri, "Id");
        ConfigDetails = await _configApi.GetConfigDetails(ConfigId);
        StateHasChanged();

        base.OnInitialized();
    }
    public async Task SaveAndContinue()
    {
        await _configApi.SaveConfigDetails(ConfigId, ConfigDetails);
        NavigationManager.NavigateTo($"/SaveConfig_2?Id={ConfigId}");
    }
}
<style>
    .form-group {
        margin-bottom: 0px;
    }
</style>